<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="https://kit.fontawesome.com/b2be1812b3.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>Confession</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
